.planner-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1fr, 7);
  grid-auto-rows: 1fr;
  margin-top: 5rem;
  grid-gap: 0.5rem;
}
.planner-hour,
.planner-meeting,
.planner-day {
  place-self: center;
  cursor: default;
}

.planner-hour {
}

.planner-meeting {
}

.planner-day {
  width: 8rem;
  min-height: 4rem;
}
