.ant-form .ant-typography {
    margin-bottom: 1.25rem;
}
.day-preference {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: baseline;

}

.day-preference .ant-select {
    width: 10rem !important;
}