.cell-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.new-cell{
  border: #91d5ff dotted 5px;
}

.blocked-cell{
  border: #f5222d solid 3px;
}