.result {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.result-toolbar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.details-page {
  --details-gap: 2px;
  --details-bg: var(--cds-ui-03);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr;
  grid-column: 1/4;
  grid-template-areas:
    "toolbar toolbar action"
    ". hours hours"
    "days days days"
    "timeline timeline timeline";
}
.details-panel {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  grid-area: toolbar;
}
.details-days {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-area: days;
  background-color: var(--details-bg);
  overflow: auto;
  grid-gap: var(--details-gap);
  padding: var(--details-gap);
}
.details-action {
  grid-area: action;
  place-self: end;
}
