.cell-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.new-cell {
    border: #3A33F9 dotted 5px;
}

.blocked-cell {
    border: #f5222d solid 3px;
}

.cell-selected {
    border: orange solid 5px !important;
}