.layout {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.app-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 1/12;
    grid-row: 1/2;
    place-self: center;
}

.ant-select-auto-complete {
    min-width: 10rem;
}

.app-header-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2rem 1rem;
}

.app-header-procedures{
    place-self: center end;
}
.app-header-date{
    place-self: center;
}
.app-header-selected-date{
    grid-column: 2/3;
    place-self: center;
}
.app-header-actions{
    place-self: center start;
}
.app-header-actions, .app-header-procedures, .app-header-date
{
grid-row: 2/3;
}

.app-header-content > span {
    font-size: 1.25rem;
}